<!--hello home page-->

 <!--we cannot use ng-if +"!main.loggedIn" without controller-->
 <!--put it into app.routes.js under templateUrl-->
 

<div class="jumbotron text-center" ng-if ="!main.loggedIn">     
    <div>
        <h1> If you want to sign in</h1>
    </div>
    <div>
        <p>login to write a post</p>
        <a href="/login" class="btn btn-success">login</a>
    </div>
</div>
 
 <div class ="row" ng-if ="main.loggedIn">
     <div class ="col-md-3">
     </div>       
         <div class ="col-md-4" ng-controller="StoryController as story">
            <div class ="row">
                 <div class ="panel panel-primary">
                     <div class="panel-heading">Write Your Story</div>
                     <div class="panel-body">
                          <form ng-submit ="story.createStory()">
                              <input class="form-control input-lg" type="text" name="story" ng-model="story.storyData.content" placeholder="...." required>
                          <!--<input class="form-control input-lg" type="text" name="story" ng-model="story.storyData.content" placeholder="....">-->
                          </form>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading"> Your Stories</div>
                    <div class="panel-body" ng-repeat="each in story.stories | reverse">
                        <p>{{each.content}}</p>
<!--                        blablah-->
                    </div>
                </div>
            </div>
        </div>     
      <div class ="col-md-3">
     </div>
 </div>